

<table class="center">
  <tr>
    <th><button class="OK" onclick ="alert('Hi')">Warning</button></th>
    <th><button class="OK" onclick ="alert('Hi')">Warning</button></th>
    <th><button class="OK" onclick ="alert('Hi')">Warning</button></th>
  </tr>
  <tr>
    <th><button class="OK" onclick ="alert('Hi')">Warning</button></th>
    <th><button class="OK" onclick ="alert('Hi')">Warning</button></th>
    <th><button class="OK" onclick ="alert('Hi')">Warning</button></th>
  </tr>
</table>





